{% extends 'index.html' %}
{% block content %}
     <div class="container" style="margin-left: 10px">
            <h2 style="margin-top: 50px">Registration Form</h2>
            <div style="width:30%">
                <form method= "POST" class="post-form" action="">
                    {%csrf_token%}
                  {{ form.as_p }}
                    <button class="btn btn-outline-dark" style="width:100%">Registration</button>
            </div>
            </form>
        </div>

{% endblock %} }}